<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haahoo.haahooshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.haahoo.haahooshop.cloudproductview"></activity>
        <activity android:name="com.haahoo.haahooshop.cloudproductcategory" />
        <activity android:name="com.haahoo.haahooshop.Productmanager" />
        <activity android:name="com.haahoo.haahooshop.pickimage" />
        <activity android:name="com.haahoo.haahooshop.Addvar" />
        <activity android:name="com.haahoo.haahooshop.AddVariant" />
        <activity android:name="com.haahoo.haahooshop.choosepdtcategory" />
        <activity android:name="com.haahoo.haahooshop.Dynamictext" />
        <activity android:name="com.haahoo.haahooshop.addempnew" />
        <activity android:name="com.haahoo.haahooshop.productvariant" />
        <activity android:name="com.haahoo.haahooshop.chooseimages" />
        <activity android:name="com.haahoo.haahooshop.ChooseAddress" />
        <activity android:name="com.haahoo.haahooshop.AddBankDetails" />
        <activity android:name="com.haahoo.haahooshop.Earnings" />
        <activity android:name="com.haahoo.haahooshop.Navigation" />
        <activity android:name="com.haahoo.haahooshop.activation" />
        <activity android:name="com.haahoo.haahooshop.shpcategory" />
        <activity android:name="com.haahoo.haahooshop.choose" />
        <activity android:name="com.haahoo.haahooshop.stepper" />
        <activity android:name="com.haahoo.haahooshop.Login" />
        <activity android:name="com.haahoo.haahooshop.registernew" />
        <activity android:name="com.haahoo.haahooshop.Tab5Fragment" />
        <activity android:name="com.haahoo.haahooshop.Tab4Fragment" />
        <activity android:name="com.haahoo.haahooshop.viewallproduct" />
        <activity android:name="com.haahoo.haahooshop.Tab3Fragment" />
        <activity android:name="com.haahoo.haahooshop.Tab2Fragment" />
        <activity android:name="com.haahoo.haahooshop.Tab1Fragment" />
        <activity android:name="com.haahoo.haahooshop.Uporder" />
        <activity android:name="com.haahoo.haahooshop.productnew" />
        <activity android:name="com.haahoo.haahooshop.cancelsub" />
        <activity android:name="com.haahoo.haahooshop.neww" />
        <activity android:name="com.haahoo.haahooshop.notification" />
        <activity android:name="com.haahoo.haahooshop.Orderfrag" />
        <activity android:name="com.haahoo.haahooshop.Subscriptionlist" />
        <activity android:name="com.haahoo.haahooshop.ForgotPassword" />
        <activity android:name="com.haahoo.haahooshop.forgototp" />
        <activity android:name="com.haahoo.haahooshop.ResetPassword" />
        <activity android:name="com.haahoo.haahooshop.changepassword" />
        <activity android:name="com.haahoo.haahooshop.addshopim" />
        <activity android:name="com.haahoo.haahooshop.viewimages" />
        <activity android:name="com.haahoo.haahooshop.viewpdtnew" />
        <activity android:name="com.haahoo.haahooshop.subscriptionmode" />
        <activity android:name="com.haahoo.haahooshop.subscription" />
        <activity android:name="com.haahoo.haahooshop.orderhistory" />
        <activity android:name="com.haahoo.haahooshop.orderdetails" />
        <activity android:name="com.haahoo.haahooshop.customerdetails" />
        <activity android:name="com.haahoo.haahooshop.viewbran" />
        <activity android:name="com.haahoo.haahooshop.viewbranchproducts" />
        <activity android:name="com.haahoo.haahooshop.UpcomingOrder" />
        <activity android:name="com.haahoo.haahooshop.employeedetails" />
        <activity android:name="com.haahoo.haahooshop.editbranchprofile" />
        <activity android:name="com.haahoo.haahooshop.branchprofile" />
        <activity android:name="com.haahoo.haahooshop.viewemployee" />
        <activity android:name="com.haahoo.haahooshop.ViewBranches" />
        <activity android:name="com.haahoo.haahooshop.AddEmployee" />
        <activity android:name="com.haahoo.haahooshop.AddShopBranch" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_MquWTYi6ypIVBE" />

        <activity android:name="com.haahoo.haahooshop.addproductnew" />
        <activity android:name="com.haahoo.haahooshop.Payment" />
        <activity android:name="com.haahoo.haahooshop.editcategory" />
        <activity android:name="com.haahoo.haahooshop.edit_product" />
        <activity android:name="com.haahoo.haahooshop.viewpdtdetails" />
        <activity android:name="com.haahoo.haahooshop.editprofile" />
        <activity android:name="com.haahoo.haahooshop.profile" />
        <activity android:name="com.haahoo.haahooshop.VerifyOtp" />
        <activity android:name="com.haahoo.haahooshop.viewproduct" />
        <activity android:name="com.haahoo.haahooshop.finaladd" />
        <activity android:name="com.haahoo.haahooshop.addimage" />
        <activity android:name="com.haahoo.haahooshop.category" />
        <activity android:name="com.haahoo.haahooshop.addprod" />
        <activity android:name="com.haahoo.haahooshop.MainActivity" />
        <activity android:name="com.haahoo.haahooshop.AddProduct" />
        <activity android:name="com.haahoo.haahooshop.Register" />
        <activity android:name="com.haahoo.haahooshop.MainUI" />
        <activity android:name="com.haahoo.haahooshop.splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>